:root {
  --ghost-white: #f9f9fb;
  --komaru: #333073;
  --majorelle-blue: #6155ee;
  --whale-white: white;
  --platinium-flash: #f2f2f2;
  --lotion-white: #fcfcfd;
  --cool-grey: #8583ab;
  --rich-black: #0a0a17;
  --eerie-black: #14132e;
  --violet-blue: #9164fe;
  --robin-egg-blue: #00d1ca;
  --very-light-blue: #6166ed;
  --anti-flash-white: #f3f3f7;
  --platinium: #e2e3e6;
  --heart-stroke: #6e6c9c;
  --hidden-brand: #b0b7c5;
  --bright-gray: #edecf2;
  --deep-komaru: #333073;
  --ucla-blue: #5c598f;
  --crayola-blue: #adacc7;
  --yankees-blue: #1f1d45;
  --indigo-blue: #29265c;
  --gainsbro: #d6d6e3;
  --bright-grey: #ebeaf1;

  --background-color: var(--ghost-white);
  --text-color: var(--rich-black);
  --header-background-color: var(--komaru);
  --hero-background-color: var(--majorelle-blue);
  --cta-background-color: var(--robin-egg-blue);
  --cta-hover-background-color: var(--very-light-blue);
  --service-background-color: var(--whale-white);
  --footer-background-color: var(--deep-komaru);
  --footer-text-color: var(--whale-white);
}
/* Resetting default margin and padding */
:root {
  --primary-gradient-start: #6155ee;
  --primary-gradient-end: #66d9e8;
  --text-color: #fff;
  --button-border-color: #ffffff;
  --button-hover-color: rgba(255, 255, 255, 0.2);
}
/* Resetting default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
}

/* Header styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background: linear-gradient(135deg, var(--primary-gradient-start) 30%, var(--primary-gradient-end) 100%);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000; /* Ensure the header is always on top */
  font-family: DM Serif Text,serif;
}

header .logo img {
  height: 50px;
  border-radius: 50%;
}

header nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  margin-right: 690px;
}

header nav ul li {
  margin: 0 15px;
}

header nav ul li a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: normal;
  font-size: 1.2em;
  transition: color 0.3s ease;
}

header nav ul li a:hover {
  color: var(--button-hover-color);
}

#navbar {
  position: fixed;
  width: 100%;
  top: 0;
  transition: top 0.3s;
  z-index: 1000;
  color: white;
}

.cta-buttons {
  display: flex;
}

.cta-buttons a {
  text-decoration: none;
  padding: 8px 16px;
  margin-left: 10px;
  border: 1px solid var(--button-border-color);
  border-radius: 4px;
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.cta-buttons .signin-btn:hover {
  background-color: var(--button-hover-color);
}

.cta-buttons .signup-btn {
  background-color: var(--text-color);
  color: var(--primary-gradient-start);
  
}

#btn2{
  background-color: var(--deep-komaru);
  color: white;
  border: 1px solid var(--deep-komaru);
}

.cta-buttons .signup-btn:hover {
  background-color: var(--button-hover-color);
  color: var(--text-color);
}

/* Home section styles */
section#home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background: linear-gradient(135deg, var(--primary-gradient-start) 40%, var(--primary-gradient-end) 70%);
  color: white;
  margin-bottom: 50px;
}

.hero {
  text-align: center;
  padding: 100px 20px;
  display: flex;
  align-items: center;
  max-width: 1200px;
  width: 100%;
}

.hero-text {
  flex: 1;
  padding-right: 20px;
  animation: fadeInLeft 1.5s ease-in-out;
  font-family: DM Serif Text,serif;
}

.hero-text h1 {
  font-size: 70px;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 1.5em;
  margin-bottom: 40px;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.about-section,
.company-section,
.commitment-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  max-width: 800px; /* Adjust as needed */
  padding: 20px;
}

.about-section h1,
.company-section h2,
.commitment-section h2 {
  font-size: 50px;
  font-family: 'DM Serif Text', serif;
  margin-bottom: 20px;
  font-weight:600;
}

.about-section .main-paragraph,
.company-section .main-paragraph,
.commitment-section .main-paragraph {
  letter-spacing: -0.024rem;
  font-size: 1.55rem;
  font-weight: 500;
  line-height: 1.33;
  margin-bottom: 70px;
  color: var(--deep-komaru);
}

.about-section .supporting-paragraph,
.company-section .supporting-paragraph,
.commitment-section .supporting-paragraph {
  letter-spacing: -0.017rem;
  font-size: 1.35rem;
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 20px;
  color: var(--komaru);
  text-align: left;
}

.about-section h1{
  color: var(--deep-komaru);
}

.cloudgraph-logo {
  display: block;
  margin: 20px auto;
  max-width: 200px;
  margin-bottom: 40px;
}

.founders-section {
  padding: 40px;
  background-color: #f9f9f9;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 4px #0e5b9a;
  margin: 40px auto;
  max-width: 1000px;
}

.founders-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
}


.founders {
  text-align: center;
  font-size: 50px;
  font-family: DM Serif Text, serif;
  margin-bottom: 20px;
}

.founder {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  flex: 1 1 200px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 220px;
}

.founder img {
  border-radius: 50%;
  border: 2px solid #0e5b9a;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
  color: var(--komaru);
  font-family: Urbanist,sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.444;
}

 h2{
  margin: 10px 0 5px;
  font-size: 1.2em;
  color: #333073;
  font-weight: 600;
}

.founder h3{
  margin: 10px 0 5px;
  font-size: 1.2em;
  color: #333073;
}

.founder p {
  margin: 0;
  color: #333;
}

.founder a{
  text-decoration: none;
  color: var(--deep-komaru);
}

/* Footer styles */
footer {
  background: linear-gradient(135deg, #6155ee 0%, #6155ee 100%);
  color: #fff;
  padding: 40px 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 60px;
}

.footer-left {
  text-align: left;
  max-width: 400px;
  margin: 30px;
  line-height: 1.5em;
  font-size: 18px;
}

.footer-left p {
  margin-top: 92px;
}

hr{
  color: wheat;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 60px;
  margin-top: 20px;
  padding: 40px 40px;
  font-family: Arial, Helvetica, sans-serif;
}

.footer-bottom p {
  margin: 0;
  flex: 1;
}

.footer-social {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: flex-start;
  gap: 0.8em;
}

.footer-social a {
  margin-left: 10px;
  color: white;
  text-decoration: none;
}

.social-icon {
  width: 35px;  /* Set the desired width */
  height: 35px; /* Set the desired height */
  border-radius: 50%; /* Optional: make the icon circular */
  transition: transform 0.3s ease;
}

.footer-social a:hover {
  color: #66d9e8;
}

.footer-right {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 20px;
  
}

.footer-title {
  text-align: center;
  margin-bottom: 20px;
}

.footer-title h4 {
  font-size: 50px;
  margin: 0;
  font-family: DM Serif Text, serif;
}

.footer-sections-horizontal {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 20px;
}

.footer-section {
  flex: 1;
  margin: 60px;
  margin-bottom: 15px;
  margin-top: 15px;
  line-height: 1.5em;
}

.footer-logo, .partner-logo, .award-logo {
  max-width: 100px;
}

.footer-logo{
  border-radius: 50%;
  margin-top: 40px;
}

.partner-logo, .award-logo {
  border-radius: 10px;
}

.footer hr {
  color: #fff;
}

.newsletter-form {
  display: flex;
  margin-top: 10px;
}

.newsletter-form input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 4px 0 0 4px;
}

.newsletter-form button {
  padding: 10px;
  border: none;
  border-radius: 0 4px 4px 0;
  background-color: #66d9e8;
  color: #3a50b9;
  cursor: pointer;
}

.newsletter-form button:hover {
  background-color: #50c0d1;
}

footer h4 {
  margin-bottom: 10px;
}

footer a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

footer a:hover {
  color: #3a50b9;
}

.contact-info {
  display: flex;
  flex-direction: column;
}